{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<link href="{% static 'bootstrap/css/base.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}Welcome to quickblog, created by Gaurav Bhardwaj{% endblock %}</title>
</head>
<body>

<div id="header">
  <h1>Quick Blog</h1>
</div>
<div id="sidebarLeft">
  {% block sidebar %}
  <h2 class="sidebar">ABOUT</h2>
  <p>This is my cute blog created using <a href="http://www.djangoproject.com">Django</a>,
    a <a href="http://www.python.org">Python</a> web framework. This site is under
    construction. My actual blog is here: <a href="bhardwajgaurav.wordpress.com">bhardwajgaurav.wordpress.com</a>
  </p>
  {% endblock %}
</div>
<div id="mainRight">
  {% block main %}{% endblock %}
</div>
<div id="footer">
  A <a href="http://www.djangoproject.com/">Django</a> site.
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
